* {
    padding: 0%;
    margin: 0%;
  }
  
  body{
      background-size: cover;
      opacity: 0.8;
      transition: opacity 0.5s ease-in-out;
  }
  
  
  h1{
      font-family: 'Courier New', Courier, monospace;
      display: flex;
      padding: 1rem;
      border-bottom: 4px dotted rgb(126, 126, 237);
  }
  
  #button{
      font-family: 'Courier New', Courier, monospace;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      border-radius: 5px;
      border: none;
      background-color: rgb(126, 126, 237);
      color: #fff;
      font-size: 1.2rem;
      cursor:pointer;
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
      transition: background-color 0.3s ease-in-out;
  }
  
  #button:hover{
      background-color: rgb(94, 94, 202);
  }
  
  #quote-container{
      border-radius: 5px;
      border: 2px solid rgb(126, 126, 237);
      background-color: #fff;
      padding: 1rem;
      margin-top: 1rem;
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }
  